@import "../../../index.css";

.myRide {
  background-color: #2c2c2c;
  padding: 1rem;
  border-radius: 1%;
}

.formHeader {
  display: flex;
  gap: 2em;
  align-items: center;
}

.formHeader img {
  max-width: 100%;
}

.formHeader h1,
.carType h1 {
  font-size: 27px;
  color: var(--primary-gold);
  margin-left: -5px;
  margin-bottom: 1rem;
}

.formHeader p {
  font-size: 16px;
  color: var(--primary-white);
}

.headerText {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1em;
}

.formBody {
  display: flex;
  flex-direction: column;
  margin: 2em;
  border-color: var(--primary-white);
}

.formBody .TextField {
  margin: 1em;
}

.formSelect {
  margin: 1rem;
  display: inline-block;
}

.ownCar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

.carType {
  text-align: left;
  margin: 1em;
}

.cards {
  display: flex;
  width: 38.75rem;
  margin-left: 1px;
}

.carRadio {
  position: absolute;
  left: -9999px;
}

.carRadioLabel {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  width: 147px;
  height: 80px;
  margin: 0.5rem;
  border: 1px solid var(--primary-white);
  border-radius: 4px;
  cursor: pointer;
}

div svg path {
  fill: var(--primary-gold);
}

div span {
  display: block;
  color: var(--primary-white);
}

div input:checked + label {
  background-color: var(--background);
  border: 1px solid var(--primary-gold);
}

div input:checked + label svg path {
  fill: var(--primary-white);
}

div input:checked + label span {
  color: var(--primary-white);
}

div input:focus + label {
  outline: 4px solid var(--primary-gold);
  outline-offset: 2px;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #2c2c2c inset;
  -webkit-text-fill-color: var(--primary-white);
}
