@import "../../../index.css";

.successForm {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: var(--secondary-background);
  border-radius: 1%;
}

.successForm h1 {
  justify-content: center;
  align-items: center;
  color: var(--primary-white);
  font-size: 2.8rem;
  font-weight: 700;
}

.successForm h2 {
  font-size: 2rem;
}

.successIcon {
  width: 3.5%;
  margin-right: 1rem;
}

.successText {
  display: flex;
  align-items: center;
  justify-content: center;
}

.successText h2 {
  margin: 6rem 5rem 2rem 0;
  align-items: flex-end;
  font-size: 2rem;
  color: var(--primary-white);
}

.successName {
  display: inline-block;
}

.successData {
  color: var(--primary-gold);
  font-size: 1.7rem;
  margin-top: 1rem;
}
