.header {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.logoImg {
  width: 83.572px;
  height: 40px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 30px;
}
