.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoImg {
  width: 83.572px;
  height: 40px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav li a {
  text-decoration: none;
}
