:root {
  --primary-gold: #fba403;
  --primary-white: #fff;
  --secondary-gray: #b3b3b3;
  --background: #242424;
}

body {
  background-color: var(--background);
  font-family: "Roboto", sans-serif;
}

a,
p {
  color: var(--primary-white);
  text-decoration: none;
}
