:root {
  --primary-gold: #fba403;
  --primary-white: #fff;
  --background: #242424;
}

body {
  background-color: var(--background);
  font-family: "Roboto", sans-serif;
}

a {
  color: var(--primary-white);
  text-decoration: none;
}
