@import "../../../index.css";

.bookRide {
  display: flex;
  padding: 74px 89px;
  gap: 2.7rem;
  width: 100%;
}

.bookRide img {
  width: 38rem;
  height: 37rem;
}

.bookRide h2 {
  font-size: 26px;
  color: var(--primary-white);
}

.bookRide h1 {
  font-size: 50px;
  color: var(--primary-white);
  margin: 1em 0 0 0;
}

.bookRide h1 span {
  color: var(--primary-gold);
}

.bookRideText {
  text-align: left;
}
